/*
* Copyright 2018, Alton Bell Smythe
* abellsmythe.github.me
*/

:root{
  --background-color: #1C0D45;
  --highlight: #F012B8;
  --background-gradient: linear-gradient(135deg, #2B2370, #221457, #1B0D43);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background-gradient);
  border-style: none;
  font-family: 'Raleway', sans-serif;
}

body,
p,
a,
a:hover {
  color: #000000;
}

a,
a:hover {
  text-decoration: none;
  border: none;
  border-style: none;
  box-shadow: none;
}

body.fullsingle {
  font-weight: 400;
  font-size: 21px;
  line-height: 33px;
  letter-spacing: -0.2px;
  color: #848d96;
}
body.fullsingle p {
  color: #848d96;
}

.fs {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 800px) {
  .fs {
    flex-wrap: wrap;
    flex-direction: column;
  }
}
.fs .bgPicture {
  min-height: 100vh;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center center; 
  opacity: 0;
}
.fs .bgPicture img {
  margin: 0 15px;
}
@media (max-width: 800px) {
  .fs .bgPicture {
    /*min-height: inherit;*/
    margin: 0 20px;
  }
  .fs .bgPicture img {
    width: 100%;
    height: auto;
  }
}
.fs .content {
  min-height: 100vh;
  max-width: 0;
  max-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  overflow: auto;
  opacity: 0;
}
@media (max-width: 800px) {
  .fs .content {
    padding: 42px;
    height: auto;
  }
}
.fs .content .content-vertically-center {
  padding: 80px;
  margin-top: auto;
  margin-bottom: auto;
}
@media (max-width: 1200px) {
  .fs .content .content-vertically-center {
    padding: 60px;
  }
}
@media (max-width: 800px) {
  .fs .content .content-vertically-center {
    padding: 0 20px;
    max-width: 100%;
  }
}

.intro .title {
  margin-left: -70px;
  text-transform: uppercase;
  color: var(--highlight, #F012B8);
  font-size: 130px;
  font-weight: 900;
  line-height: 164px;
}
@media (max-width: 1200px) {
  .intro .title {
    font-size: 100px;
    margin: 0 auto;
    line-height: 95px;
  }
}
@media (max-width: 800px) {
  .intro .title {
    font-size: 87px;
    margin: 0 auto;
    margin-left: -43.5px;
    line-height: 95px;

  }
}
.intro .subtitle {
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 40px;
  line-height: 32px;
  color: #CCC;
}
@media (max-width: 1200px) {
  .intro .subtitle {
    font-size: 34px;
  }
}
.intro .tagline {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  color: #CCC;
}
@media (max-width: 1200px) {
  .intro .tagline {
    font-size: 18px;
    justify-content: space-between;
  }
}
@media (max-width: 800px) {
  .intro .tagline {
    font-size: 16px;
    justify-content: space-between;
  }
}
.intro .tagline span.separator {
  margin: 0 15px;
  font-size: 10px;
}
.intro .tagline span.separator > * {
  flex: 0;
}

.bio {
  padding: 40px 0 20px 0;
}
@media (max-width: 1200px) {
  .bio {
    padding: 30px 0 10px 0;
  }
}
@media (max-width: 800px) {
  .bio {
    padding: 20px 0 0 0;
  }
  .bio p {
    font-size: 13px !important;
  }
}
.bio p {
  color: #848d96;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  text-align: justify;
}
.bio a {
  color: #848d96;
  transition-duration: 0.5s;
  border-bottom: 1px dotted #848d96;
}
.bio a:hover {
  color: var(--highlight, #F012B8);
  transition-duration: 0.1s;
  border-bottom: 1px dotted #47bec7;
}
.bio em,
.bio i {
  font-style: italic;
  line-height: inherit;
}
.bio strong,
.bio b {
  font-weight: bold;
  line-height: inherit;
}
.bio small {
  font-size: 80%;
  line-height: inherit;
}
.bio h1, .bio .h1,
.bio h2, .bio .h2,
.bio h3, .bio .h3,
.bio h4, .bio .h4,
.bio h5, .bio .h5,
.bio h6, .bio .h6 {
  font-style: normal;
  font-weight: normal;
  color: inherit;
}
.bio h1 small, .bio .h1 small,
.bio h2 small, .bio .h2 small,
.bio h3 small, .bio .h3 small,
.bio h4 small, .bio .h4 small,
.bio h5 small, .bio .h5 small,
.bio h6 small, .bio .h6 small {
  line-height: 0;
}
.bio h1, .bio .h1 {
  font-size: 1.5em;
  line-height: inherit;
  margin-top: 0;
  margin-bottom: 20px;
}
.bio h2, .bio .h2 {
  font-size: 1.25em;
  line-height: inherit;
  margin-top: 0;
  margin-bottom: 20px;
}
.bio h3, .bio .h3 {
  font-size: 1.1875em;
  line-height: inherit;
  margin-top: 0;
  margin-bottom: 20px;
}
.bio h4, .bio .h4 {
  font-size: 1.125em;
  line-height: inherit;
  margin-top: 0;
  margin-bottom: 20px;
}
.bio h5, .bio .h5 {
  font-size: 1.0625em;
  line-height: inherit;
  margin-top: 0;
  margin-bottom: 20px;
}
.bio h6, .bio .h6 {
  font-size: 1em;
  line-height: inherit;
  margin-top: 0;
  margin-bottom: 20px;
}
.bio ul,
.bio ol,
.bio dl {
  margin-bottom: 20px;
  list-style-position: outside;
  line-height: inherit;
}
.bio li {
  font-size: inherit;
}
.bio ul {
  margin-left: 2.25em;
  list-style-type: disc;
}
.bio ol {
  margin-left: 2.25em;
  list-style-type: decimal;
}
.bio ul ul, .bio ol ul, .bio ul ol, .bio ol ol {
  margin-left: 1.25em;
  margin-bottom: 0;
}
.bio dl dt {
  margin-bottom: 10px;
  font-weight: bold;
}
.bio dl dd {
  margin-bottom: 10px;
}

.lists {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: -20px;
}
@media (max-width: 800px) {
  .lists {
    justify-content: space-around;
    padding: 0 20px;
  }
}
.lists > * {
  flex: 0;
}
.lists .icon {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.lists .icon img {
  flex: 0;
  width: 85px;
  height: 85px;
  transition: all ease 500ms;
  cursor: pointer;
}
.lists .icon img.hover {
  display: none;
}
.lists .icon:hover img {
  display: none;
}
.lists .icon:hover img.hover {
  display: flex;
  margin-top: 0;
}

.credit {
  margin: 20px 0;
  opacity: 0.4;
}
.credit p {
  font-size: 14px;
  line-height: 14px;
}
.credit p a {
  color: var(--highlight, #F012B8);
}
@media (max-width: 1200px) {
  .credit p {
    text-align: center;
  }
}

.jump {
  margin: 0;
  flex: 1;
  align-self: center;
}
.jump span {
  position: relative;
  top: 0;
  transition: all ease-in-out 250ms;
}
.jump span.up, .jump span:hover {
  top: -10px;
}