/*
* Copyright 2018, Alton Bell Smythe
* abellsmythe.github.me
*/

:root{
  --background-color: #1C0D45;
  --highlight: #34EFFF;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600");
@import url("https://fonts.googleapis.com/css?family=Lora");

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "liga" on;
  margin: 0;
}

body {
  background-color: var(--background-color, #1C0D45);
  border-style: none;
}

body,
p,
a,
a:hover {
  color: #000000;
}

a,
a:hover {
  text-decoration: none;
  border: none;
  border-style: none;
  box-shadow: none;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body.fullsingle {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 33px;
  letter-spacing: -0.2px;
  color: #848d96;
  animation: fadein 2s;
}
body.fullsingle p {
  color: #848d96;
}

.fs {
  width: 100vw;
  height: 100vh;
  display: flex;
}
@media (max-width: 800px) {
  .fs {
    height: auto;
    flex-wrap: wrap;
  }
}
.fs .bgPicture {
  width: 50%;
  height: 100vh;
  background-size: cover;
  background-position: center center; 
}
@media (max-width: 800px) {
  .fs .bgPicture {
    height: 80vh;
    width: 100%;
  }
}
.fs .content {
  width: 50%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}
@media (max-width: 800px) {
  .fs .content {
    width: 100%;
    height: auto;
  }
}
.fs .content .content-vertically-center {
  padding: 80px;
  max-width: 640px;
  margin-top: auto;
  margin-bottom: auto;
}
@media (max-width: 1200px) {
  .fs .content .content-vertically-center {
    padding: 60px;
  }
}
@media (max-width: 800px) {
  .fs .content .content-vertically-center {
    padding: 40px;
  }
}

.intro {
  font-weight: 600;
  font-size: 64px;
  line-height: 80px;
  letter-spacing: -2px;
}
.intro h1 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 40px;
  letter-spacing: 0.4px;
  color: var(--highlight, #34EFFF);
}
.intro .tagline {
  color: #CCCCCC;
}
@media (max-width: 800px) {
  .intro h1 {
    margin-bottom: 0;
  }
}

.bio {
  padding: 40px 0 20px 0;
  font-family: "Lora", serif;
}
@media (max-width: 1200px) {
  .bio {
    padding: 30px 0 10px 0;
  }
}
@media (max-width: 600px) {
  .bio {
    padding: 20px 0 0 0;
  }
}
.bio p {
  color: #848d96;
  margin-bottom: 20px;
  line-height: inherit;
}
.bio a {
  color: #848d96;
  transition-duration: 0.5s;
  border-bottom: 1px dotted #848d96;
}
.bio a:hover {
  color: var(--highlight, #34EFFF);
  transition-duration: 0.1s;
  border-bottom: 1px dotted #47bec7;
}
.bio em,
.bio i {
  font-style: italic;
  line-height: inherit;
}
.bio strong,
.bio b {
  font-weight: bold;
  line-height: inherit;
}
.bio small {
  font-size: 80%;
  line-height: inherit;
}
.bio h1, .bio .h1,
.bio h2, .bio .h2,
.bio h3, .bio .h3,
.bio h4, .bio .h4,
.bio h5, .bio .h5,
.bio h6, .bio .h6 {
  font-style: normal;
  font-weight: normal;
  color: inherit;
}
.bio h1 small, .bio .h1 small,
.bio h2 small, .bio .h2 small,
.bio h3 small, .bio .h3 small,
.bio h4 small, .bio .h4 small,
.bio h5 small, .bio .h5 small,
.bio h6 small, .bio .h6 small {
  line-height: 0;
}
.bio h1, .bio .h1 {
  font-size: 1.5em;
  line-height: inherit;
  margin-top: 0;
  margin-bottom: 20px;
}
.bio h2, .bio .h2 {
  font-size: 1.25em;
  line-height: inherit;
  margin-top: 0;
  margin-bottom: 20px;
}
.bio h3, .bio .h3 {
  font-size: 1.1875em;
  line-height: inherit;
  margin-top: 0;
  margin-bottom: 20px;
}
.bio h4, .bio .h4 {
  font-size: 1.125em;
  line-height: inherit;
  margin-top: 0;
  margin-bottom: 20px;
}
.bio h5, .bio .h5 {
  font-size: 1.0625em;
  line-height: inherit;
  margin-top: 0;
  margin-bottom: 20px;
}
.bio h6, .bio .h6 {
  font-size: 1em;
  line-height: inherit;
  margin-top: 0;
  margin-bottom: 20px;
}
.bio ul,
.bio ol,
.bio dl {
  margin-bottom: 20px;
  list-style-position: outside;
  line-height: inherit;
}
.bio li {
  font-size: inherit;
}
.bio ul {
  margin-left: 2.25em;
  list-style-type: disc;
}
.bio ol {
  margin-left: 2.25em;
  list-style-type: decimal;
}
.bio ul ul, .bio ol ul, .bio ul ol, .bio ol ol {
  margin-left: 1.25em;
  margin-bottom: 0;
}
.bio dl dt {
  margin-bottom: 10px;
  font-weight: bold;
}
.bio dl dd {
  margin-bottom: 10px;
}

.lists .list {
  width: 30%;
  display: inline-block;
  margin-bottom: 40px;
  vertical-align: top;
}
@media (max-width: 500px) {
  .lists .list {
    width: 90%;
  }
}
.lists .list h3 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 11px;
  margin-bottom: 31px;
  color: #848d96;
  letter-spacing: 2px;
  opacity: 0.5;
}
.lists .list ul li {
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 12px;
}
.lists .list ul li a {
  color: #848d96;
  transition-duration: 500ms;
}
.lists .list ul li a:hover {
  color: #47bec7;
  transition-duration: 100ms;
}

.credit {
  opacity: 0.4;
}
.credit p {
  font-size: 12px;
  line-height: 14px;
}
.credit p a {
  color: #848d96;
}

.jump {
  margin: 0;
  flex: 1;
  align-self: center;
}

.jump span {
  position: relative;
  top: 0;
  transition: all ease-in-out 250ms;
}

.jump span.up, .jump span:hover {
  top: -20px;
}